@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baskervville", serif;
}

body {
  --accent-colour: rgb(48, 117, 144);
  --accent-colour-dark: rgb(29, 71, 88);
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
  overflow: hidden none;
}

main {
  flex-grow: 1;
  padding: 2rem 4rem;
}

footer {
  background-color: var(--accent-colour);
  display: flex;
  padding: 2rem 4rem;
  justify-content: space-between;
  color: white;
}

.profile-photo {
  position: relative;
}

.profile-photo img {
  height: 450px;
}

.profile-photo h1 {
  position: absolute;
  width: 100%;
  bottom: 5px;
  color: white;
  text-shadow: 1px 3px 5px black;
  padding: 5px;
  text-align: center;
}

.about {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  box-shadow: 1px 3px 5px 1px var(--accent-colour-dark);
}

.about p {
  line-height: 1.5rem;
  font-size: 1.1rem;
}

.icon-small {
  width: 20px;
  height: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.social {
  display: flex;
  gap: 1rem;
}

header .social {
  justify-content: end;
}

body {
  overflow-x: hidden;
}

.background {
  position: absolute;
  background-color: var(--accent-colour);
  height: 105%;
  width: 130%;
  left: -15%;
  top: -10%;
  z-index: -1;
  transform: rotate(-4deg);
  box-shadow: 1px 3px 5px 1px gray;
}

h2 {
  margin-bottom: 1rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.project {
  width: 300px;
  height: 350px;
  background-color: beige;
  border-radius: 7px;
}

.project-thumbnail {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-links {
  min-width: 45px;
}

.project-header,
.project-description {
  padding: 0.2rem 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact p {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-img {
  height: 400px;
}

@media (max-width: 900px){
  .footer-img{
    width: 250px;
    object-fit: cover;
  }
}

@media (max-width: 650px){
  header {
    flex-direction: column;
    overflow: hidden;
  }
  
  header .background {
    transform: rotate(10deg) translateY(-10%);
    width: 120%;
    left: -10%;
    height: 140%;
  }

  .about {
    box-shadow: none;
    align-items: center;
  }

  footer{
    flex-direction: column;
    padding: 0;
  }

  .contact {
    gap: 1.5rem;
    padding: 2rem 4rem;
  }
  
  .footer-img {
    transform-origin: top;
    width: 100%;
  }
}
